In [26]:
print("Ok")

Ok

In [27]:
'''
mongodb+srv://mulanigalib1:mulanigalib1@cluster0.gbmahfc.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
'''

'\nmongodb+srv://mulanigalib1:mulanigalib1@cluster0.gbmahfc.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0\n'

In [28]:
import pandas as pd

In [29]:
import os
os.getcwd()

'd:\\MLOPS Projects\\US-Visa\\notebook'

#### getting monogdb api key from enviroment variable

In [ ]:
import os
from dotenv import load_dotenv

load_dotenv()
mongodb = os.getenv('MONGODB_URL')
print('MongoDB URL:')

if 'MONGODB_URL' in os.environ:
    print("variable exists")
else:
    print("variable is not set")

MongoDB URL: mongodb+srv://mulanigalib1:mulanigalib1@cluster0.gbmahfc.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
variable exists

In [30]:
visa_df = pd.read_csv("EasyVisa.csv")
visa_df.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [31]:
visa_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25480 entries, 0 to 25479
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   case_id                25480 non-null  object
 1   continent              25480 non-null  object
 2   education_of_employee  25480 non-null  object
 3   has_job_experience     25480 non-null  object
 4   requires_job_training  25480 non-null  object
 5   no_of_employees        25480 non-null  int64
 6   yr_of_estab            25480 non-null  int64
 7   region_of_employment   25480 non-null  object
 8   prevailing_wage        25480 non-null  float64
 9   unit_of_wage           25480 non-null  object
 10  full_time_position     25480 non-null  object
 11  case_status            25480 non-null  object
dtypes: float64(1), int64(2), object(9)
memory usage: 2.3+ MB

In [32]:
data = visa_df.to_dict(orient='records')

In [33]:
len(data)

25480

In [34]:
DB_NAME = "US_VISA"
COLLECTION_NAME = "visa_data"
CONNECTION_URL ="mongodb+srv://mulanigalib1:mulanigalib1@cluster0.gbmahfc.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [35]:
import pymongo

In [36]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]


rec = collection.insert_many(data)

In [37]:
records = collection.find()
records

In [38]:
for index,record in enumerate(records):
    if index < 10:
        print(index,record)

0 {'_id': ObjectId('68907ab8d33efdf5bcc0c497'), 'case_id': 'EZYV01', 'continent': 'Asia', 'education_of_employee': 'High School', 'has_job_experience': 'N', 'requires_job_training': 'N', 'no_of_employees': 14513, 'yr_of_estab': 2007, 'region_of_employment': 'West', 'prevailing_wage': 592.2029, 'unit_of_wage': 'Hour', 'full_time_position': 'Y', 'case_status': 'Denied'}
1 {'_id': ObjectId('68907ab8d33efdf5bcc0c498'), 'case_id': 'EZYV02', 'continent': 'Asia', 'education_of_employee': "Master's", 'has_job_experience': 'Y', 'requires_job_training': 'N', 'no_of_employees': 2412, 'yr_of_estab': 2002, 'region_of_employment': 'Northeast', 'prevailing_wage': 83425.65, 'unit_of_wage': 'Year', 'full_time_position': 'Y', 'case_status': 'Certified'}
2 {'_id': ObjectId('68907ab8d33efdf5bcc0c499'), 'case_id': 'EZYV03', 'continent': 'Asia', 'education_of_employee': "Bachelor's", 'has_job_experience': 'N', 'requires_job_training': 'Y', 'no_of_employees': 44444, 'yr_of_estab': 2008, 'region_of_employment': 'West', 'prevailing_wage': 122996.86, 'unit_of_wage': 'Year', 'full_time_position': 'Y', 'case_status': 'Denied'}
3 {'_id': ObjectId('68907ab8d33efdf5bcc0c49a'), 'case_id': 'EZYV04', 'continent': 'Asia', 'education_of_employee': "Bachelor's", 'has_job_experience': 'N', 'requires_job_training': 'N', 'no_of_employees': 98, 'yr_of_estab': 1897, 'region_of_employment': 'West', 'prevailing_wage': 83434.03, 'unit_of_wage': 'Year', 'full_time_position': 'Y', 'case_status': 'Denied'}
4 {'_id': ObjectId('68907ab8d33efdf5bcc0c49b'), 'case_id': 'EZYV05', 'continent': 'Africa', 'education_of_employee': "Master's", 'has_job_experience': 'Y', 'requires_job_training': 'N', 'no_of_employees': 1082, 'yr_of_estab': 2005, 'region_of_employment': 'South', 'prevailing_wage': 149907.39, 'unit_of_wage': 'Year', 'full_time_position': 'Y', 'case_status': 'Certified'}
5 {'_id': ObjectId('68907ab8d33efdf5bcc0c49c'), 'case_id': 'EZYV06', 'continent': 'Asia', 'education_of_employee': "Master's", 'has_job_experience': 'Y', 'requires_job_training': 'N', 'no_of_employees': 2339, 'yr_of_estab': 2012, 'region_of_employment': 'South', 'prevailing_wage': 78252.14, 'unit_of_wage': 'Year', 'full_time_position': 'Y', 'case_status': 'Certified'}
6 {'_id': ObjectId('68907ab8d33efdf5bcc0c49d'), 'case_id': 'EZYV07', 'continent': 'Asia', 'education_of_employee': "Bachelor's", 'has_job_experience': 'N', 'requires_job_training': 'N', 'no_of_employees': 4985, 'yr_of_estab': 1994, 'region_of_employment': 'South', 'prevailing_wage': 53635.39, 'unit_of_wage': 'Year', 'full_time_position': 'Y', 'case_status': 'Certified'}
7 {'_id': ObjectId('68907ab8d33efdf5bcc0c49e'), 'case_id': 'EZYV08', 'continent': 'North America', 'education_of_employee': "Bachelor's", 'has_job_experience': 'Y', 'requires_job_training': 'N', 'no_of_employees': 3035, 'yr_of_estab': 1924, 'region_of_employment': 'West', 'prevailing_wage': 418.2298, 'unit_of_wage': 'Hour', 'full_time_position': 'Y', 'case_status': 'Denied'}
8 {'_id': ObjectId('68907ab8d33efdf5bcc0c49f'), 'case_id': 'EZYV09', 'continent': 'Asia', 'education_of_employee': "Bachelor's", 'has_job_experience': 'N', 'requires_job_training': 'N', 'no_of_employees': 4810, 'yr_of_estab': 2012, 'region_of_employment': 'Midwest', 'prevailing_wage': 74362.19, 'unit_of_wage': 'Year', 'full_time_position': 'Y', 'case_status': 'Certified'}
9 {'_id': ObjectId('68907ab8d33efdf5bcc0c4a0'), 'case_id': 'EZYV10', 'continent': 'Europe', 'education_of_employee': 'Doctorate', 'has_job_experience': 'Y', 'requires_job_training': 'N', 'no_of_employees': 2251, 'yr_of_estab': 1995, 'region_of_employment': 'South', 'prevailing_wage': 67514.76, 'unit_of_wage': 'Year', 'full_time_position': 'Y', 'case_status': 'Certified'}

##### Retrived data from mongodb

**It retrieves the unique identification number which is the location at which the records are stored / objects**

In [39]:
df = pd.DataFrame(list(collection.find()))
df.head()

,_id,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,68907ab8d33efdf5bcc0c497,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,68907ab8d33efdf5bcc0c498,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,68907ab8d33efdf5bcc0c499,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,68907ab8d33efdf5bcc0c49a,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,68907ab8d33efdf5bcc0c49b,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [40]:
for d in df.columns.to_list():
    if d == "_id":
        df.drop(columns=d,inplace=True)

In [41]:
df.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified